{% extends 'base.html' %}
{% block title %}
<title>Accept Request</title>
{% endblock title%}
{% block base %}
<div class="container">
    <div class="row">
        <div class="col-12 ">
        <form method="POST" action="">
            {% csrf_token %}
            <br>
            <br>
            
            <center><h1> คำร้องขอจองห้อง </h1></center>
        </div>
        <div></div>
        <div class="col-4  p-3" >
            <div class="container">

                <p> ผู้จอง </p> 
                <p> รหัสนักศึกษา</p>
                <p> ชั้นปี</p>
            </div> 
        </div>
        <div class="col-8 p-3 ">
            <div class="bg-light p-3 shadow" >
            

                <p> ห้อง : </p> 
                <p> วันที่จอง</p>
                <p> เวลาที่จอง</p>
                <p> เหตุผลในการจอง</p>
                  
            </div>
        </div>
    </div>
</div>
<center>
    <button type="submit" class="btn btn-success">อนุมัติ</button>
    <button type="submit" class="btn btn-danger">ไม่อนุมัติ</button>
</center>
{% endblock base %}
