{% extends 'base.html' %}
{% block title %}
<title>Accept Request</title>
{% endblock title%}
{% block base %}

<br><br>
<div class="container">
       
 <form action="{% url 'accept' bl_id %}" method="POST">
    {% csrf_token %}

    <div class="row">
         <div></div>
      
         <div class="col-4 p-3 ">
             <div class="p-3 shadow bg-light" >
                <br>
                <br>
                {% load static %}
                <center> <img src="{% static 'user1.png' %}" style="width: 100px;"> 
                 <br>
                 <br>
                <h5>{{ book_list.booking_id.user_id.first_name }} {{ book_list.booking_id.user_id.last_name }}</h5>
               
            {% for s in student %}
                {% if book_list.booking_id.user_id.id == s.user_id_id %}
             <p>รหัสนักศึกษา : {{ s.stu_id }}</p>
             <p>ชั้นปี : {{ s.year }} </p>
             <p>email : {{ book_list.booking_id.user_id.email }} </p>
                {% endif %}
            {% endfor %}
            

                 </center>
                 <br>
                
                 
               
             </div>
         </div>

     
         <div class="col-8">
             <div class="p-3" >
                 <div class="container">
                     <div class="shadow  p-4 bg-light " >
                        <center><h2> คำร้องขอจองห้อง </h2></center>
                        <br>
                        <div class="form-group row">
                            <label  class="col-sm-3 col-form-label">ห้อง</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" name="fname" value="{{ book_list.room_id.name }}">
                            </div>
                            </div>

                        <div class="form-group row">
                            <label  class="col-sm-3 col-form-label">วันที่จอง</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" name="fname" value="{{ book_list.bookdate }}">
                            </div>
                            </div>

                        <div class="form-group row">
                            <label  class="col-sm-3 col-form-label">เวลาที่จอง</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" name="fname" value="{{ book_list.start_time |time:'H:i' }} - {{ book_list.end_time |time:'H:i'}}">
                            </div>
                            </div>  
                            
                        <div class="form-group row">
                            <label  class="col-sm-3 col-form-label">เหตุผลในการจอง</label>
                            <div class="col-sm-9">
                                <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="3"  name="reason" required="required">{{ book_list.booking_id.description }} </textarea>
                            </div>
                            </div>
                            <center>
                                
                                
                               <button type="submit" class="btn btn-danger" value="allowt" name="allowt">อนุมัติ</button>
                               <button type="submit" class="btn btn-danger" value="denyt" name="denyt">ไม่อนุมัติ</button>

                               <button type="submit" class="btn btn-info" value="allows" name="allows">อนุมัติ</button>
                               <button type="submit" class="btn btn-info" value="denys" name="denys">ไม่อนุมัติ</button>
                          
                            </center>
                         
                             </div>
                           </div>
                        </form>
                   
                     </div>
                 </div> 
                 
             </div>

         </div>
     </div> 
     
 </div>




{% endblock base %}
