{% extends 'list_base.html' %}
{% block title %}
<title>All Bookinglist</title>
{% endblock title%}
{% block list %}
<br>
<div class="container shadow bg-light" style=" height:600px;">

<center>
    <br>
  <h2>รายการจอง</h2>
  <br>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style-profile.css'%}">
    <div class="table-wrapper-scroll-y my-custom-scrollbar" style=" height:450px;">
     
    <table class="table table-hover" bgcolor="#eaecea">
        <thead >
          <tr>
            <th scope="col">ชื่อห้อง</th>
            <th scope="col">วันที่</th>
            <th scope="col">เวลา</th>
           
         
          </tr>
        </thead>
        <tbody> 

        {% for rm in all_room %}
          <tr>
            <td>{{rm.name}}</td> 
            <td>{{rm.open_time}}</td>
            <td>{{rm.open_time}}</td>
          </tr>
          {% endfor%}

          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asds</td>
          </tr>
        </tbody>
      </table>
    </div>

    </center>

  </div>

{% endblock list %}