{% extends 'book_base.html' %} {% block title %}
<title>Booking</title>
{% endblock title%} {% block book %} 

<form method="POST" action="{% url 'booking' rm_id %}">
    {% csrf_token %}
        <br>
        <div class="form-group row p-3">
            <label class="col-sm-1 col-form-label">ตั้งแต่</label>
            <div class="col-sm-2">
                {% comment %} <input type="date" class="form-control" name="date"> {% endcomment %}
                {{ rangeBookingForm.fromDate }}
            </div>
            <label class="col-sm-1 col-form-label">จนถึง</label>
            <div class="col-sm-2">
                {% comment %} <input type="date" class="form-control" name="date"> {% endcomment %}
                {{ rangeBookingForm.toDate }}
            </div>
            <label class="col-sm-1 col-form-label">จองเวลา</label>
            <div class="col-sm-2">
                {% comment %} <input type="time" class="form-control" name="start_time"> {% endcomment %}
                {{ rangeBookingForm.fromTime }}
            </div>
            <label class="col-sm-1 col-form-label">ถึงเวลา</label>
            <div class="col-sm-2">
                {% comment %} <input type="time" class="form-control" name="end_time"> {% endcomment %}
                {{ rangeBookingForm.toTime }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">เหตุผลในการจอง</label>
            <div class="col-sm-12">
                {% comment %} <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="reason"></textarea> {% endcomment %}
                {{ rangeBookingForm.description }}
            </div>
        </div>
        <button type="submit" class="btn btn-dark" value="rangeBooking" name="rangeBooking" style="float: right;">ยืนยัน</button>
        <br>
        <br>
    </div>

</form>



{% endblock book %} 