{% extends 'list_base.html' %}
{% block title %}
<title>All Bookinglist</title>
{% endblock title%}
{% block search %}
<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'history_teacher' %}">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
</form>
{% endblock search %}
{% block list %}
<br>
<div class="container shadow bg-light" style=" height:600px;">
<br>


<center>
  <h3>ประวัติการจองสถานที่ของอาจารย์</h3>
  <br>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style-profile.css'%}">
    <div  class="table-wrapper-scroll-y my-custom-scrollbar" style=" height:450px;">
     
    <table class="table table-hover " >
        <thead >
          <tr>
            <th scope="col" style="width: 10%">ชื่อห้อง</th>
            <th scope="col" style="width: 30%">วันที่ขอจอง</th>
            <th scope="col" style="width: 30%">เวลา</th>
            <th scope="col" style="width: 30%">ผู้ขอ</th>


         
          </tr>
        </thead>
        <tbody> 

          {% for bl in all_booklist %}
            {% for bt in teacher_book %}
                {% if bl.booking_id.id == bt.booking_id.id %}
                    <tr>
                        <td style="width: 10%">{{bl.room_id.name}}</td> 
                        <td style="width: 30%">{{bl.bookdate}}</td>
                        <td style="width: 30%">{{bl.start_time |time:'H:i'}} - {{bl.end_time |time:'H:i'}}</td>
                        <td style="width: 30%">{{bl.booking_id.user_id.first_name}} {{bl.booking_id.user_id.last_name}}</td>
                    </tr>
                {% endif%}
            {% endfor%}
          {% endfor%}


         
        </tbody>
      </table>
     
    </div>
    </center>

  </div>  

{% endblock list %}