{% extends 'list_base.html' %}
{% block title %}
<title>All Bookinglist</title>
{% endblock title%}
{% block search %}
<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'history' %}">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
</form>
{% endblock search %}
{% block list %}
<br>
<div class="container shadow bg-light" style=" height:600px;">
<br>


<center>
  <h3>ประวัติการจองสถานที่ของอาจารย์</h3>
  <br>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style-profile.css'%}">
    <div  class="table-wrapper-scroll-y my-custom-scrollbar" style=" height:450px;">
     
    <table class="table table-hover " >
        <thead >
          <tr>
            <th scope="col">ชื่อห้อง</th>
            <th scope="col">วันที่ขอจอง</th>
            <th scope="col">เวลา</th>
            <th scope="col">ผู้ขอ</th>


         
          </tr>
        </thead>
        <tbody> 

          {% for bl in all_booklist %}
          <tr>
            <td>{{bl.room_id.name}}</td> 
            <td>{{bl.bookdate}}</td>
            <td>{{bl.start_time}} - {{bl.end_time}}</td>
            <td>{{bl.booking_id.user_id.first_name}} {{bl.booking_id.user_id.last_name}}</td>
     
            
            {% for s in st_booking %}
              {% if s.booking_id == bl.booking_id %}
                {% for u in user %}          
                  {% if s.teacher_user_id_id == u.id %}
                        <td> {{u.first_name}} {{u.last_name}} </td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}


            {% for s in st_booking %}
              {% if s.booking_id == bl.booking_id %}
                {% for u in user %}          
                  {% if s.staff_user_id_id == u.id %}
                        <td> {{u.first_name}} {{u.last_name}} </td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}


          </tr>
          {% endfor%}

         
        </tbody>
      </table>
     
    </div>
    </center>

  </div>  

{% endblock list %}