{% extends 'base.html' %}
{% block title %}
<title>Tracking</title>
{% endblock title%}
{% block base %}
{% load static %}
<br><br>
<div class="container shadow bg-light" style=" height:600px;">
    <div class="row">
        <div class="col-12 ">
        <form method="get" action="">
            {% csrf_token %}
            <br>
            <center><h1> ติดตามการจอง </h1></center>
        </div>
        <div></div>
        <div class="col-4  p-3" >
            <div class=" p-3 ">

                    <p> ห้อง : {{book_list.room_id.name}} </p> 
                    <p> วันที่จอง : {{book_list.bookdate}} </p>
                    <p> เวลาที่จอง : {{book_list.start_time}} - {{book_list.end_time}}</p>
                    <p> เหตุผลในการจอง : {{book_list.booking_id.description}}</p>
                  {% for s in student %}
                    {% if request.user.id == s.user_id_id %}
                    <p> ผู้จอง {{ request.user.first_name }} {{ request.user.last_name }}</p> 
                    <p> รหัสนักศึกษา {{ s.stu_id }} </p>
                    <p> ชั้นปี {{s.year}} </p>
                    {% endif %}
                  {% endfor %}
            </div> 

        </div>
        <div class="col-8 p-3 ">
            <div class="p-3" >
            

                <table class="table table-borderless">
                    <tbody>                       
                      <tr >
                        <td width="5%"> 
                            <img   src="{% static 'complete.png' %}" style="width: 50px;">
                        </td>
                        <td width="">
                            ยื่นคำร้อง
                            <p>{{book_list.booking_id.date}}</p>
                        </td>
                      </tr>
                      <tr>
                        {% for st in booking_st %}
                        {% if st.teacher_result == 1 %}
                        <td>  <img   src="{% static 'wait.png' %}" style="width: 50px;"></td>
                        {% elif st.teacher_result == 2 %}
                        <td>  <img   src="{% static 'complete.png' %}" style="width: 50px;"></td>
                        {% else %}
                        <td>  <img   src="{% static 'deny.png' %}" style="width: 50px;"></td>
                      {% endif %}
                      {% endfor %}
                        <td>อาจารย์อนุมัติ
                          {% for st in booking_st %}
                            <p>{{ st.teacher_date}}</p>
                          {% endfor %}
                        </td>
                        <!-- <td>{% for st in booking_st %}
                          <p>{{ st.teacher_user_id_id}}</p>
                        {% endfor %}</td> -->
                        
                      </tr>
                      <tr>
                        {% for st in booking_st %}
                          {% if st.staff_result == 1 %}
                          <td>  <img   src="{% static 'wait.png' %}" style="width: 50px;"></td>
                          {% elif st.staff_result == 2 %}
                          <td>  <img   src="{% static 'complete.png' %}" style="width: 50px;"></td>
                          {% else %}
                          <td>  <img   src="{% static 'deny.png' %}" style="width: 50px;"></td>
                        {% endif %}
                        {% endfor %}

                        <td>เจ้าหน้าที่สถานที่อนุมัติ
                          {% for st in booking_st %}
                          <p>{{ st.staff_date}}</p>
                        {% endfor %}
                        </td>
                        <!-- <td>{% for t in teacher %}
                          <p>{{ t.position}}</p>
                        {% endfor %}</td> -->
                      </tr>
                    </tbody>
                  </table>
              
                  
            </div>
        </div>
    </div>
</div>

{% endblock base %}
