{% extends 'base.html' %}
{% block title %}
<title>Tracking</title>
{% endblock title%}
{% block base %}
<br><br>
<div class="container shadow bg-light" style=" height:600px;">
    <div class="row">
        <div class="col-12 ">
        <form method="POST" action="">
            {% csrf_token %}
            <br>
            <center><h1> ติดตามการจอง </h1></center>
        </div>
        <div></div>
        <div class="col-4  p-3" >
            <div class=" p-3 ">

                    <p> ห้อง : </p> 
                    <p> วันที่จอง</p>
                    <p> เวลาที่จอง</p>
                    <p> เหตุผลในการจอง</p>

                    <p> ผู้จอง </p> 
                    <p> รหัสนักศึกษา</p>
                    <p> ชั้นปี</p>
            </div> 
              
<!-- <div class="d-flex">
  <hr class="my-auto flex-grow-1">
  <div class="px-4">SOME TEXT HERE</div>
  <hr class="my-auto flex-grow-1">
</div> -->
        </div>
        <div class="col-8 p-3 ">
            <div class="p-3" >
            

                <table class="table table-borderless">
                    <tbody>
                        
                      <tr >
                    
                        <td width="10%">
                            {% load static %}
                            <img   src="{% static 'correct.png' %}" alt="">
                        </td>
                        <td width="30%">
                            ยื่นคำร้อง
                            <p>6 เมษายน 2563</p>
                        </td>
                      </tr>
                      <tr>
                       
                        <td>{% load static %}
                          
                            <img   src="{% static 'correct.png' %}" alt="">
                        </td>
                        <td>อาจารย์อนุมัติ
                            <p>6 เมษายน 2563</p>
                        </td>
                        <td>อาจารย์ เอ</td>
                      </tr>
                      <tr>
                      
                        <td>{% load static %}
                          
                            <img   src="{% static 'correct.png' %}" alt="">
                        </td>
                        <td>เจ้าที่สถานที่อนุมัติ
                            <p>6 เมษายน 2563</p>
                        </td>
                        <td>พี่โจ้
                        </td>
                      </tr>
                    </tbody>
                  </table>
              
                  
            </div>
        </div>
    </div>
</div>
<!-- 
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
      height: 400px; /* Should be removed. Only for demonstration */
    }
    
    .left {
      width: 300px;
    }
    
    .right {
      width: 500px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    
    <h2>Two Unequal Columns</h2>
    <center>
    <div class="col-7">
    <div class="row">
      <div class="column left rounded-left" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div class="column right rounded-right" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>
</div>
</center> -->
{% endblock base %}
