<!-- {% extends 'base.html' %}

{% block base %}
<br>
<br>
<br>
{% load static %}
  <link rel="stylesheet" href="{% static 'style-profile.css'%}">
    <div class="container">
        <div class="row">
            <div></div>
         
            <div class="col-6 p-3 ">
                <div class="pbg p-3 shadow rounded-lg p-4" >
                
                   <center> <h2> Profile</h2> </center>
                   <br>
                    <p>ชื่อ <p> 
                    <p>รหัสนักศึกษา<p>
                    <p>ชั้นปี<p>
                    <p>email</p>
                    <p>username</p>
                    <button type="submit" class="btn btn-info"></button>
                    
                </div>
            </div>
            <div class="col-6">
                <div class="p-3" >
                    <div class="container">
                        <div class="pbg p-2 shadow rounded-lg p-4" >
                            <h2> เปลี่ยนรหัสผ่าน </h2>
                            <br>
                            <p>รหัสผ่านเดิม : <input type="text"></p>
                            <p>รหัสผ่านใหม่ : <input type="text"></p>
                            <p>รหัสผ่านใหม่ อีกครั้ง : <input type="text"></p>
                            <button type="submit" class="btn btn-dark ">ยืนยัน</button>
                        </div>
                    </div> 
                </div>
                <div class="p-3" >
                    <div class="container">
                        <div class="bg-light p-2 shadow rounded-lg" >
                            <h2> รายละเอียด </h2>
                            <p>ความจุ : {{room.capacity}}</p>
                            <p>เวลาเปิด : {{room.open_time}}</p>
                            <p>เวลาปิด : {{room.close_time}}</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% endblock base %} -->